#bg {
    position: absolute;
    z-index: -999;
    width: 100%;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(54, 0, 0);
    margin: 0;
    padding: 0;
    font-size: 23.5px;
}

body::-webkit-scrollbar {
    display: none;
}

.sticky {
    position: sticky;
    top: 0;
}

#articlecollag {
    padding-top: 50px;
    padding-bottom: 50px;
    transform: translateX(20px);
    width: 100%;
    height: 250px; /* Sử dụng chiều cao của viewport */
    overflow-x: scroll;
    overflow: hidden;
}

#articlecollage {
    width: 200%; /* Đảm bảo có nội dung ngang để cuộn */
    display: flex;
    justify-content: space-between;
    height: 175px;
    margin: 0px 0px 20px 0px;
}

.article:hover {
    width: 18.7%;
    height: 105%;
}

.article {
    width: 18%;
    height: 100%;
    background-color: black;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 16px;
    transition: all 0.3s cubic-bezier(0.66, 0.33, 0.33, 0.66);
    opacity: 0.7;
    margin: 0px 50px 0px 0px;
}

.navbar {
    background-color: black;
    border-style: dashed;
    border-color: white;
    border-top: 5px;
    width: 100%;
    height: 70px;
    z-index: 999;
    position: fixed;
}

.navbar img {
    width: 50px;
    height: 50px;
    padding: 10px;
}

#timelineNav {
    margin: 0px 0px 20px 0px;
}

#timeline {
    background: linear-gradient(
        transparent,
        transparent,
        white,
        transparent,
        transparent
    );
    width: 200%;
    height: 15px;
    display: flex;
    justify-content: space-around;
}



.news {
    width: 17.4%;
    height: 100%;
    background-color: black;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    transition: all 0.3s cubic-bezier(0.66, 0.33, 0.33, 0.66);
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    padding: 15px;
}

.expandE {
    position: absolute;
    margin: auto;
    background: linear-gradient(
        transparent,
        white
    )
}

.news:hover {
    width: 18.2%;
    height: 108%;
    transform: translateY(-25px);
}

#news {
    display: flex;
    justify-content: space-around;
    height: 350px;
    margin: 50px 0px;
}

.seperate {
    background: linear-gradient(
        transparent,
        transparent,
        white,
        white,
        transparent
    );
    width: 1px;
    height: 45px;
    margin: 0px 50px 0px 0px;
}

#timelineintro p {
    padding-top: 150px;
    padding-bottom: 20px;
    color: whitesmoke;
    margin: auto;
    font-size: 75px;
    text-align: center;
}

#newsintro p {
    color: whitesmoke;
    margin: auto;
    font-size: 75px;
    font-weight: 600;
    text-align: center;
}

.modal {
    overflow: auto;
    display: none; /* Hidden by default */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(71, 71, 71, 0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;
    color: white;
}
  
.modal-content {
    margin-top: 75px;
    position: fixed;
    bottom: 0;
    background-color: #000000;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
    width: 100vw;
    height: 70vh;
    transition: all 0.3s ease-in-out; /* Hiệu ứng chuyển đổi mượt mà */
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: gray;
    text-decoration: none;
    cursor: pointer;
}
  
.modal-header {
    border-style: solid;
    border-bottom: 2px;
    border-left: 2px;
    border-right: 2px;
    padding: 2px 16px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}
  
.modal-body {
    padding: 2px 16px;
    overflow: auto;
    width: 100vw;
    height: 100vh;
}

.modal-open {
    display: inline-block;
    display: flex;
    justify-content: center;
    transition: all 0.3s cubic-bezier(0.66, 0.33, 0.33, 0.66);
}

.expand {
    border: none;
    color: white;
    background: transparent;
    font-size: 45px;
}

.retract {
    border: none;
    color: white;
    background: transparent;
    font-size: 45px;
}

.modal-open:hover {
    transition: all 0.3s cubic-bezier(0.66, 0.33, 0.33, 0.66);
    display: flex;
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}
  
@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

.imagecollage {
    display: grid;
    gap: 20px;
}